{% extends 'page-section/default-section.html.twig' %}


{% block page_section_contents %}

	{% if section_title or section.section_content|default(section.content|content) %}
		<div class="section-content">
			<div class="inner">
				{{ parent() }}
			</div>
		</div>
	{% endif %}
	
	{% block page_section_gallery %}
		{% if section.gallery_images %}
			<div class="section-gallery">
				{% for image in section.gallery_images %}
					{% block page_section_gallery_image_container %}
						<div class="image-container">
							<div class="inner">
								<a href="{{ get_media_url(image, '1600w') }}" target="_blank">
									<div class="image" style="background-image: url({{ get_media_url(image, 'medium') }});">
										<img src="{{ get_media_url(image, 'medium') }}" alt="{{ get_media_alt_text(image)|escape('html_attr') }}">
									</div>
								</a>
							</div>
						</div>
					{% endblock %}
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}

{% endblock %}