{% extends 'page-section/default-section.html.twig' %}


{% block page_section_contents %}

	{% if section_title or section.section_content|default(section.content|content) %}
		<div class="section-content">
			<div class="inner">
				{{ parent() }}
			</div>
		</div>
	{% endif %}

	{% if section.staff %}
		<div class="section-staff">
			{% for staff_member in section.staff if staff_member.name %}
				<div class="staff-member">
					<div class="inner">

						<div class="photo-container">
							<div class="inner">
								<div class="photo" {{ staff_member.photo ? 'style="background-image: url(' ~ get_media_url(staff_member.photo, '1000w') ~ ');"' : '' }}>
									{% if staff_member.photo %}
										<img src="{{ get_media_url(staff_member.photo, '1000w') }}" alt="{{ get_media_alt_text(staff_member.photo)|escape('html_attr') }}">
									{% endif %}
								</div>
							</div>
						</div>

						<div class="staff-member-description">
							
							<h3 class="name">{{ staff_member.name }}</h3>

							{% if staff_member.job_title %}
								<h4 class="job-title">{{ staff_member.job_title }}</h4>
							{% endif %}

							{% if staff_member.content %}
								<div class="bio">{{ staff_member.content|content }}</div>
							{% endif %}

						</div>

					</div>
				</div>
			{% endfor %}
		</div>

	{% endif %}
	
{% endblock %}