{% extends 'index.html.twig' %}


{% block page_sections %}

	{% set index_page_id = site.theme_options_events_index_page %}

	{% set index_page = get_post(index_page_id) %}

	{% set page_content_sections = index_page.meta.page_content_sections %}

	{{ block('page_sections_loop') }}

	<section class="page-section width-constraint-full">
		<div class="inner">
			<div class="container">
				<div class="inner">

					{{ block('content') }}

				</div><!-- .inner -->
			</div><!-- .container -->
		</div><!-- .inner -->
	</section><!-- .page-section -->
{% endblock %}


{% block content %}

	{% block index_filters %}

		<div class="section-filters">

			<form id="filter__event" action="{{ get_url(site.theme_options_events_index_page) }}" class="filter__event flex flex-wrap-xs align-items-center">

				{% set options = get_event_type_index_filter_options() %}
				<div class="form-group__types">
					<div class="dropdown">
						<select id="type" name="type">
							<label name="type" type="hidden">Event Type Filter Options</label>
							{% for option in options %}
								{% if option.active %}
									<option value="{{ option.key }}" selected>{{ option.label }}</option>
								{% else %}
									<option value="{{ option.key }}">{{ option.label }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<div class="select_arrow">
						</div>
					</div>
				</div>

				<div class="form-group__submit">
					<button type="submit" class="hidden btn">Go</button>
				</div>
				<div class="form-group__reset">
					<a class="btn white" href="{{ get_url(site.theme_options_events_index_page) }}" class="reset">{{ 'Reset' }}</a>
				</div>

			</form>

		</div>

	{% endblock %}

	{% block filterable_content %}
		<div class="content-section" role="main">
			<div class="inner">
				{% if posts %}
					<div class="events flex flex-wrap">
{#						{% set posts = filtered_posts ? filtered_posts : posts %}#}

						{% for post in posts %}

							<div id="post-{{ post.id }}" class="event flex-25-md flex-50-sm flex-100 {{ post.class }}">
								{% block article_content %}
									<a class="event_link" href="{{ post.link }}">
										<div class="event_body">
											{% if post.thumbnail %}
												<div class="event_image" style="background-image: url({{ get_media_url(post.thumbnail, 'full') }})"></div>
											{% endif %}
											<div class="event_date">{{ post.meta.event_start_date|date('F j') }}</div>
											<div class="event_title">{{ post.title }}</div>
											<div class="event_excerpt">{{ post.excerpt }}</div>
										</div>

									</a>
								{% endblock %}
							</div>

						{% endfor %}

					</div>

					{% include 'includes/pagination.html.twig' with { 'class': 'below' } %}

				{% else %}
					<h3>There are no posts to display</h3>
				{% endif %}
			</div><!-- .inner -->
		</div><!-- .content-section.primary -->
	{% endblock %}

	<script>

		(function($) {

			// $('.dropdown select option').prop("selected", "selected");

			$(function() {
				$('#practice').change(function() {
					this.form.submit();
				});
			});

		})(jQuery);

	</script>

{% endblock %}